# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Raw big data (if user downloads full 33GB trace)
data/raw/
